/* LINKING GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/* LINKING GOOGLE FONTS */

/* CSS Variables */
:root {
  --main-theme: #ffcf01;
  --main-theme-hover: #ffcf51;
  --theme-dark: #0f171c;
  --theme-mid-dark: #363d42;
  --theme-lighter-gray: #8d9194;
  --theme-lighter-gray2: #f4f5f6;
  --theme-dark-hover: #0f171c88;
  --theme-light: #fff;
  --theme-gray: #f4f5f6;
}
/* CSS Variables */

/* Initializing CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
}
/* Initializing CSS */

/* Global CSS */
.priBtn {
  background-color: var(--main-theme);
  padding: 0.7rem 1.3rem;
  margin-right: 1rem;
  border-radius: 6px;
  font-size: 15.1px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-weight: 600;
}

.priBtn:hover {
  background-color: var(--main-theme-hover);
}

.secBtn {
  background-color: transparent;
  color: var(--main-theme);
  border: 1px solid var(--main-theme);
  padding: 0.7rem 2.6rem;
  margin-right: 1rem;
  border-radius: 6px;
  font-size: 15.1px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-weight: 600;
  box-shadow: 0px 0px 2px var(--main-theme);
}

.secBtn:hover {
  box-shadow: 0px 0px 10px var(--main-theme);
}
/* Global CSS */

/* *******NAV SECTION STYLING********** */

nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.8rem;
  background-color: var(--theme-dark);
  color: var(--theme-gray);
}

nav > .navLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

nav .bx-menu {
  display: none;
}

nav > .navLogo img:nth-child(2) {
  height: 45px;
  width: 50px;
}

nav .navList .main_navList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-size: 15px;
}

.navList .main_navList li {
  transition: 0.2s ease;
}

.navList .main_navList li a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}

.navList .main_navList > li:last-of-type:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navList .main_navList li:hover {
  color: var(--main-theme);
}

.navList .main_navList li:hover .sub_navList_abt,
.navList .main_navList li:hover .sub_navList_acct,
.navList .main_navList li:hover .sub_navList_plat,
.navList .main_navList li:hover .sub_navList_tools {
  color: var(--theme-gray);
}

.navList .main_navList li a .bx-chevron-up {
  display: none;
}

.navList .main_navList li a .bx-chevron-down,
.navList .main_navList li a .bx-chevron-up {
  font-size: 24px;
}

.navList .main_navList li .sub_navList_abt,
.navList .main_navList li .sub_navList_acct,
.navList .main_navList li .sub_navList_plat,
.navList .main_navList li .sub_navList_tools {
  display: none;
}

.navList .main_navList li .sub_navList_abt.active,
.navList .main_navList li .sub_navList_acct.active,
.navList .main_navList li .sub_navList_plat.active,
.navList .main_navList li .sub_navList_tools.active {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 1.7rem;
  cursor: pointer;
  position: absolute;
  background-color: #363d42;
  top: 11%;
}

.navList .main_navList li .sub_navList_acct.active {
  align-items: flex-start;
  justify-content: flex-start;
}

.navList .main_navList li .sub_navList_abt.active ul .topic,
.navList .main_navList li .sub_navList_acct.active ul .topic {
  font-weight: 700;
  padding-bottom: 0.8rem;
}

.navList .main_navList li .sub_navList_abt.active ul .topic:hover,
.navList .main_navList li .sub_navList_acct.active ul .topic:hover {
  color: var(--theme-gray);
}

.navList .main_navList li .sub_navList_abt.active ul li,
.navList .main_navList li .sub_navList_acct.active ul li,
.navList .main_navList li .sub_navList_plat.active ul li,
.navList .main_navList li .sub_navList_tools.active ul li {
  margin-bottom: 1.8rem;
}

.navList .main_navList li .sub_navList_abt.active ul li:last-child,
.navList .main_navList li .sub_navList_acct.active ul li:last-child,
.navList .main_navList li .sub_navList_plat.active ul li:last-child,
.navList .main_navList li .sub_navList_tools.active ul li:last-child {
  margin-bottom: 0;
}

.navList .main_navList li .sub_navList_abt.active:hover,
.navList .main_navList li .sub_navList_acct.active:hover,
.navList .main_navList li .sub_navList_plat.active:hover,
.navList .main_navList li .sub_navList_tools.active:hover {
  color: var(--theme-gray);
}

nav .navCTA {
  cursor: pointer;
}

nav .navCTA {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .navCTA i {
  font-size: 24px;
}

nav .navCTA i:last-child {
  display: none;
}

/* NAV SECTION MEDIA QUERIES */
@media (min-width: 200px) and (max-width: 375px) {
  nav .navList {
    display: none;
  }
  .navCTA .priBtn,
  .navCTA .secBtn {
    display: none;
  }
  nav .navCTA i:last-child {
    display: flex;
    margin-left: 0.8rem;
  }
  nav .navCTA .bx-globe {
    display: none;
  }
  nav .bx-menu {
    display: flex;
    font-size: 24px;
    cursor: pointer;
  }
}
@media (min-width: 376px) and (max-width: 576px) {
  nav .navList {
    display: none;
  }
  .navCTA .priBtn,
  .navCTA .secBtn {
    display: none;
  }
  nav .navCTA i:last-child {
    display: flex;
    margin-left: 0.8rem;
  }
  nav .navCTA .bx-globe {
    display: none;
  }
  nav .bx-menu {
    display: flex;
    font-size: 24px;
    cursor: pointer;
  }
}
@media (min-width: 577px) and (max-width: 820px) {
  nav .navList {
    display: none;
  }
  nav .bx-menu {
    display: flex;
    font-size: 35px;
    cursor: pointer;
  }
  nav .navCTA .bx-globe {
    display: none;
  }
  nav .navCTA i:last-child {
    display: flex;
    margin-left: 0.8rem;
    font-size: 35px;
  }
}
/* NAV SECTION MEDIA QUERIES */

/* xxxxxxxxNAV SECTION STYLINGxxxxxxxx */

/* HERO SECTION STYLING */
.hero {
  height: 100vh;
  background-image: url("/assets/bg_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.hero .hero_content {
  width: 50%;
  background-color: rgba(15, 23, 26, 0.405);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 1.8rem;
  margin: 30px;
  font-weight: bold;
}

.hero_content h1 {
  font-size: 3.2rem;
  color: var(--theme-gray);
  margin-bottom: 1.5rem;
}

.hero_content p {
  font-size: 21.5px;
  color: var(--theme-gray);
  width: 85%;
  margin-bottom: 1.5rem;
}

.heroBtn {
  background-color: var(--main-theme);
  padding: 0.7rem 1.3rem;
  margin-right: 1rem;
  border-radius: 6px;
  font-size: 15.1px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-weight: 600;
}

.heroBtn:hover {
  background-color: var(--main-theme-hover);
}

/* HERO SECTION MEDIA QUERIES */
@media (min-width: 200px) and (max-width: 374px) {
}
@media (min-width: 375px) and (max-width: 576px) {
  .hero {
    height: 80vh;
    padding: 4.6rem 0rem;
  }
  .hero .hero_content {
    width: 100%;
    padding: 1rem;
    margin: 0px;
  }
  .hero_content h1 {
    margin-top: 8rem;
    font-size: 35px;
    padding: 0;
    text-align: center;
  }
  .hero_content p {
    font-size: 16.5px;
    color: var(--theme-gray);
    width: 100%;
    padding: 0;
    text-align: center;
    margin-bottom: 8.7rem;
  }
  .heroBtn {
    width: 100%;
  }
}
@media (min-width: 577px) and (max-width: 820px) {
  .hero {
    height: 53vh;
    padding: 4.6rem 0rem;
  }
  .hero .hero_content {
    width: 100%;
    padding: 1rem;
    margin: 0px;
  }
  .hero_content h1 {
    width: 70%;
    margin-top: 5rem;
    font-size: 3rem;
    padding: 0;
    text-align: left;
  }
  .hero_content p {
    font-size: 16.5px;
    color: var(--theme-gray);
    width: 80%;
    padding: 0;
    text-align: left;
    margin-bottom: 5rem;
  }
}
/* xxxHERO SECTION MEDIA QUERIES */

/* xxxxxxxxxHERO SECTION STYLING */

/* WITHDRAWALE SECTION */
.withdrawal {
  padding: 5.5rem 5.5rem 0 5.5rem;
  text-align: center;
  background-color: #363d42;
  color: var(--theme-gray);
}

.withdrawal h2 {
  font-size: 36px;
  margin-bottom: 2rem;
}

.withdrawal p {
  font-size: 16px;
  margin-bottom: 4rem;
}

.withdrawal .link {
  text-decoration: underline;
}

.withdrawal img {
  width: 100%;
}

/* WITHDRWAL SECTION MEDIA QUERIES */
@media (min-width: 200px) and (max-width: 374px) {
}
@media (min-width: 375px) and (max-width: 576px) {
  .withdrawal {
    padding: 5rem 1rem 0 1rem;
  }

  .withdrawal h2 {
    font-size: 26px;
    /* margin-bottom: 2rem; */
  }

  .withdrawal p {
    margin-bottom: 2rem;
  }
}
@media (min-width: 577px) and (max-width: 820px) {
}
/* xxxWITHDRWAL SECTION MEDIA QUERIES */
/* WITHDRAWALE SECTION */

/* EXECUTION SECTION STYLING */
.exe_transparent {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.exe_transparent .execution {
  padding: 5rem 5rem 1rem 5rem;
  width: 100%;
  height: 100%;
  background-color: var(--theme-dark);
}

.exe_transparent .transparent {
  padding: 5rem 5rem 1rem 5rem;
  width: 100%;
  height: 100%;
  background-color: var(--theme-lighter-gray);
}

.exe_transparent .execution h3,
.exe_transparent .transparent h3 {
  font-size: 27px;
  margin-bottom: 1.7rem;
  color: var(--theme-gray);
}

.exe_transparent .execution p,
.exe_transparent .transparent p {
  color: var(--theme-gray);
  font-size: 18.35px;
  margin-bottom: 3rem;
}

.exe_transparent .execution .link,
.exe_transparent .transparent .link {
  font-size: 16px;
  text-decoration: underline;
}

/* EXECUTION SECTION MEDIA QUERIES */
@media (min-width: 200px) and (max-width: 374px) {
}
@media (min-width: 375px) and (max-width: 576px) {
  .exe_transparent {
    width: 100%;
    height: 30vh;
  }
  .exe_transparent .execution,
  .exe_transparent .transparent {
    padding: 1rem 1rem 0.3rem 1rem;
  }
  .exe_transparent .execution h3,
  .exe_transparent .transparent h3 {
    font-size: 20px;
    margin-bottom: 2rem;
  }
  .exe_transparent .execution p,
  .exe_transparent .transparent p {
    color: var(--theme-gray);
    font-size: 16px;
    margin-bottom: 1.5rem;
  }

  .exe_transparent .execution p {
    margin-bottom: 2.9rem;
  }
  .exe_transparent .execution .link,
  .exe_transparent .transparent .link {
    font-size: 14px;
  }
}
@media (min-width: 577px) and (max-width: 820px) {
  .exe_transparent {
    height: 30vh;
  }
  .exe_transparent .execution p {
    margin-bottom: 4.5rem;
  }
}
/* xxxEXECUTION SECTION MEDIA QUERIES */
/* EXECUTION SECTION STYLING */
/* ACCOUNTS SECTION */
.accounts {
  height: 90vh;
  padding: 1.5rem;
  background-color: var(--theme-light);
}

.accounts h3 {
  text-align: center;
  font-weight: 600;
  font-size: 36.2px;
  margin-bottom: 0.5rem;
}

.accounts .accounts_types {
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accounts .accounts_types .standard {
  background-color: var(--theme-dark);
  color: var(--theme-gray);
  width: 50%;
  height: 100%;
  padding: 2rem;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.accounts .accounts_types .standard .dotted,
.accounts .accounts_types .professional .dotted {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  font-size: 25px;
  font-weight: 600;
}

.accounts .accounts_types .standard .dotted > span,
.accounts .accounts_types .professional .dotted > span {
  border-bottom: 2px dotted;
  margin-bottom: 3rem;
}

.accounts .accounts_types .standard h4,
.accounts .accounts_types .professional h4 {
  font-size: 30px;
  margin-bottom: 4rem;
}

.accounts .accounts_types .standard p,
.accounts .accounts_types .professional p {
  margin-bottom: 3rem;
}

.accounts .accounts_types .professional {
  color: var(--theme-dark);
  background-color: var(--theme-gray);
  width: 50%;
  height: 100%;
  padding: 2rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.accounts .accounts_types .standard button,
.accounts .accounts_types .professional button {
  display: block;
  margin-left: auto;
  padding: 0.7rem 2.5rem;
  background-color: transparent;
}

.accounts .accounts_types .standard button {
  border: 1px solid var(--theme-gray);
  border-radius: 6px;
  color: var(--theme-gray);
}

.accounts .accounts_types .professional button {
  border: 1px solid var(--theme-dark);
  border-radius: 6px;
  color: var(--theme-dark);
}

/* ACCOUNTS SECTION MEDIA QUERIES */
@media (min-width: 200px) and (max-width: 374px) {
}
@media (min-width: 375px) and (max-width: 576px) {
  .accounts {
    height: 80vh;
    padding: 0.5rem;
  }
  .accounts h3 {
    font-size: 25.2px;
    margin-top: 2rem;
  }

  .accounts .accounts_types {
    padding: 1rem;
    flex-direction: column;
  }
  .accounts .accounts_types .standard,
  .accounts .accounts_types .professional {
    width: 100%;
    height: 10%;
    padding: 1rem;
    border-radius: 6px;
  }
  .accounts .accounts_types .standard h4,
  .accounts .accounts_types .professional h4 {
    font-size: 22px;
  }
  .accounts .accounts_types .standard span,
  .accounts .accounts_types .professional span {
    font-size: 18px;
  }
  .accounts .accounts_types .professional {
    margin-top: 1.5rem;
  }
  .accounts .accounts_types .standard button,
  .accounts .accounts_types .professional button {
    width: 100%;
  }
}
@media (min-width: 577px) and (max-width: 820px) {
  .accounts {
    height: 80vh;
    padding: 0.5rem;
  }
  .accounts h3 {
    font-size: 25.2px;
    margin-top: 3rem;
  }

  .accounts .accounts_types {
    padding: 1rem;
    flex-direction: row;
  }
  .accounts .accounts_types .standard,
  .accounts .accounts_types .professional {
    width: 100%;
    padding: 1rem;
  }
  .accounts .accounts_types .standard h4,
  .accounts .accounts_types .professional h4 {
    font-size: 22px;
  }
  .accounts .accounts_types .standard span,
  .accounts .accounts_types .professional span {
    font-size: 18px;
  }

  .accounts .accounts_types .standard button,
  .accounts .accounts_types .professional button {
    width: 100%;
  }
}
/* xxxACCOUNTS SECTION MEDIA QUERIES */
/* ACCOUNTS SECTION */

/* TESTIMONIALS SECTION */
.testimonials {
  margin-top: 0rem;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem;
  background-color: var(--theme-lighter-gray2);
}

.testimonialsCTA,
.testimonialsDetails {
  width: 50%;
}

.testimonialsDetails,
.testimonialsDetails .numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.testimonialsCTA h3 {
  font-size: 32px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 1.5rem;
}

.testimonialsCTA p {
  margin-bottom: 2.5rem;
  line-height: 1.8;
  color: var(--theme-mid-dark);
}

.testimonialsCTA .link {
  text-decoration: underline;
  color: var(--theme-mid-dark);
}

.numbers span:first-of-type {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 0.5rem;
  /* color: var(--theme-mid-dark); */
}

.numbers {
  margin-bottom: 3rem;
}

/* TESTIMONIALS SECTION MEDIA QUERIES */
@media (min-width: 200px) and (max-width: 374px) {
}
@media (min-width: 375px) and (max-width: 576px) {
  .testimonials {
    flex-direction: column;
    margin-top: 18rem;
    height: 100vh;
    text-align: center;
    padding: 3rem 1rem 1rem 1rem;
  }
  .testimonialsCTA,
  .testimonialsDetails {
    width: 100%;
  }
  .testimonialsCTA h3 {
    font-size: 28px;
    margin-top: 3rem;
  }
  .testimonialsCTA p {
    margin-bottom: 1.8rem;
  }
  .testimonialsDetails {
    margin-top: 3rem;
  }
  .numbers span:first-of-type {
    font-size: 28px;
    color: var(--theme-mid-dark);
  }
}
@media (min-width: 577px) and (max-width: 820px) {
  .testimonials {
    margin-top: -20rem;
    padding: 3rem;
    font-size: 80%;
    height: 60vh;
  }
  .numbers span:first-of-type {
    font-size: 28px;
  }
}
/* xxxTESTIMONIALS SECTION MEDIA QUERIES */
/* TESTIMONIALS SECTION */

/* CTA SECTION */
.CTA {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  padding: 6rem;
  background-image: url("/assets/bg_bg2.jpg");
  background-color: var(--theme-mid-dark);
  background-size: cover;
  background-blend-mode: multiply;
}

.ctaContent {
  margin-top: 2rem;
  text-align: center;
}

.CTA h2,
.CTA p {
  color: var(--theme-gray);
}

.CTA h2 {
  font-size: 36px;
  margin-bottom: 3rem;
}

.CTA p {
  font-size: 18px;
  width: 80%;
  margin: auto;
  margin-bottom: 3rem;
}

.ctaBtn {
  background-color: var(--main-theme);
  padding: 0.7rem 1.3rem;
  margin-right: 1rem;
  border-radius: 6px;
  font-size: 15.1px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-weight: 600;
}

.ctaBtn:hover {
  background-color: var(--main-theme-hover);
}

/* CTA SECTION MEDIA QUERIES */
@media (min-width: 200px) and (max-width: 374px) {
}
@media (min-width: 375px) and (max-width: 576px) {
  .CTA {
    height: 35vh;
    padding: 1rem;
  }
  .ctaContent {
    margin-top: 2rem;
  }
  .CTA h2 {
    font-size: 28px;
  }
  .CTA p {
    font-size: 16px;
    width: 100%;
  }
  .ctaBtn {
    width: 100%;
  }
}
@media (min-width: 577px) and (max-width: 820px) {
  .CTA {
    height: 50vh;
    padding: 6rem;
  }
}
/* xxxCTA SECTION MEDIA QUERIES */
/* CTA SECTION */

/* LINKS SECTION */
.links {
  padding: 6rem 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2.5rem;
  font-size: 14px;
}

.links ul li {
  color: var(--theme-mid-dark);
  margin-bottom: 0.8rem;
}

.links ul .topic {
  color: var(--theme-dark);
  font-weight: 700;
}

/* LINKS SECTION MEDIA QUERIES */
@media (min-width: 200px) and (max-width: 374px) {
}
@media (min-width: 375px) and (max-width: 576px) {
  .links {
    padding: 2rem 1rem;
    flex-wrap: wrap;
  }
}
@media (min-width: 577px) and (max-width: 820px) {
  .links {
    padding: 4rem 3rem;
    flex-wrap: wrap;
  }
}
/* xxxLINKS SECTION MEDIA QUERIES */
/* LINKS SECTION */

/* FOOTER */
footer {
  padding: 6rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

footer .companyDetails {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  padding: 3rem 0.5rem;
  border-top: 1px solid var(--theme-lighter-gray);
  border-bottom: 1px solid var(--theme-lighter-gray);
}

.companyDetails .logo {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.companyDetails .companyDetContents {
  width: 70%;
}

footer .logoImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .logoImg img:last-of-type {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.logoSocials {
  margin-top: 1rem;
  font-size: 20px;
}

.logoSocials i {
  color: var(--theme-gray);
  background-color: var(--theme-dark);
  border-radius: 50%;
  padding: 10px;
}

.companyDetContents p {
  font-size: 13px;
  margin-bottom: 1rem;
  color: var(--theme-lighter-gray);
}

.footerProper {
  padding: 0.5rem 5rem;
  margin-top: -5.5rem;
}

.footerProper .legals {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footerProper .legals .spans {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.8rem;
}

.footerProper .legals .spans span,
.footerProper .legals div {
  font-size: 13px;
  font-weight: 400;
}

/* FOOTER SECTION MEDIA QUERIES */
@media (min-width: 200px) and (max-width: 374px) {
}
@media (min-width: 375px) and (max-width: 576px) {
  footer {
    padding: 2rem 1rem;
  }
  footer .companyDetails {
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0.5rem;
  }
  .companyDetails .companyDetContents {
    width: 100%;
  }
  .companyDetails .logo {
    width: 100%;
  }
  .footerProper {
    color: var(--theme-lighter-gray);
    padding: 0.5rem 1rem;
    margin-top: 0rem;
  }
  .footerProper .legals {
    flex-direction: column;
    gap: 1rem;
  }
  .footerProper .legals .spans {
    align-items: flex-start;
    gap: 0.8rem;
    flex-direction: column;
  }
}
@media (min-width: 577px) and (max-width: 820px) {
  footer {
    padding: 2rem 1rem;
  }
  footer .companyDetails {
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0.5rem;
  }
  .companyDetails .companyDetContents {
    width: 100%;
  }
  .companyDetails .logo {
    width: 100%;
  }
  .footerProper {
    color: var(--theme-lighter-gray);
    padding: 0.5rem 1rem;
    margin-top: 0rem;
  }
  .footerProper .legals {
    flex-direction: column;
    gap: 1rem;
  }
  .footerProper .legals .spans {
    align-items: flex-start;
    gap: 0.8rem;
    flex-direction: column;
  }
}
/* xxxFOOTER SECTION MEDIA QUERIES */
/* FOOTER */
